#one {
	background-color: #2884c5;
	text-align: center;
	overflow: hidden;
}

.row .col-md-12 h1 {
	font-family: "Geogrotesque";
	padding-top: 100px;
	color: white;
	font-style: italic;
}

.row .btn {
	color: black;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "Geogrotesque";
	font-size: 20px;
	font-style: italic;
	background: rgba(42,247,114,1);
	background: -moz-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,247,114,1)), color-stop(1%, rgba(42,247,114,1)), color-stop(100%, rgba(217,255,214,1)));
	background: -webkit-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: -o-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: linear-gradient(to bottom, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2af772', endColorstr='#d9ffd6', GradientType=0 );
	border-color: transparent;
	border-radius: 30px;
	width: 200px;
}

#one .col-sm-6 p {
	color: white;
	font-family: "Geogrotesque";
	clear: both;
	padding-left: 50px;
	padding-right: 30px;
	font-size: 18px;
	padding-bottom: 30px;
	margin-top: 20px;
	font-style: italic;
	line-height: 95%;
}

.row .frontrighttext {
	color: white;
	font-family: "Geogrotesque";
	float: right;
	width: 50%;
	padding-right: 50px;
	padding-left: 30px;
	font-size: 18px;
	padding-bottom: 30px;
	margin-top: 20px;
	font-style: italic;
	line-height: 95%;
}

.row .birds li {
	display: inline;
	list-style-type: none;
	padding-right: 7%;
}

#egg {
	width: 14;
}

.row .birds li:nth-child(2) img {
	width: 7%;
}

.row .birds li:nth-child(3) img {
	width: 13%;
}

.row .birds li:nth-child(4) img {
	width: 16%;
}

#two {
	background-color: #1e6394;
	text-align: center;
	overflow: hidden;
}

#two .features li {
	display: inline;
	list-style-type: none;
	padding-right: 7%;
}

#two .features {
	margin-top: 70px;
	padding-bottom: 70px;
}

.box2 .features li:nth-child(1) img {
	width: 19%;
	padding-top: 4%;
}

.box2 .features li:nth-child(2) img {
	width: 28%;
	padding-top: 2%;
}

.box2 .features li:nth-child(3) img {
	width: 20%;
	padding-top: 1%;
}

#three {
	background-color: #2884c5;
	text-align: center;
	overflow: hidden;
}

#three h2 {
	width: 50%;
	color: white;
	font-family: "Geogrotesque";
	font-style: italic;
	font-size: 24px;
	line-height: 95%;
	padding-left: 3%;
	padding-right: 3%;
    padding-top: 10%;
}

#three img {
	padding: 10px;
}

#four {
	background-color: #333333;
	text-align: center;
	overflow: hidden;
	padding-top: 80px;
}

#four h1 {
	font-family: "Geogrotesque";
	font-style: italic;
	font-size: 40px;
	color: white;
	margin-bottom: 50px;
}

#four .btn {
	font-family: "Geogrotesque";
	font-size: 20px;
	font-style: italic;
	color: black;
	margin-bottom: 90px;
	background: rgba(42,247,114,1);
	background: -moz-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,247,114,1)), color-stop(1%, rgba(42,247,114,1)), color-stop(100%, rgba(217,255,214,1)));
	background: -webkit-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: -o-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: -ms-linear-gradient(top, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	background: linear-gradient(to bottom, rgba(42,247,114,1) 0%, rgba(42,247,114,1) 1%, rgba(217,255,214,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2af772', endColorstr='#d9ffd6', GradientType=0 );
	border-color: transparent;
	border-radius: 30px;
	width: 200px;
}



